<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Query Your Images</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    </head>
    <body>
        <img src="https://i.pinimg.com/originals/46/b8/73/46b8738be4ba35af9230e7b0460da79d.png">
        <br>
        <form action="query" method="post">
            <p>What's images you want to search for?</p>
            <br>
            <input type="text" name="query_input">
            <br>
            <input type="submit" value="Query" id="query">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            {% for image in images %}
            <img src="{{ url_for('static', filename=image ) }}">
            {% endfor %}
        </form>
    </body>
</html>